<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366962419418-lu2glbvnhpncte49nrgtribq7c22s4oc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366962419418-lu2glbvnhpncte49nrgtribq7c22s4oc</string>
	<key>API_KEY</key>
	<string>AIzaSyB0NNkSFc22MWgPL7eBTZGZiFuNukxgBCM</string>
	<key>GCM_SENDER_ID</key>
	<string>366962419418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.topenlandcorp.sandboxcitus.topenland</string>
	<key>PROJECT_ID</key>
	<string>topenland-sandboxcitus</string>
	<key>STORAGE_BUCKET</key>
	<string>topenland-sandboxcitus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366962419418:ios:362a14bbf74a14d8c5a7e3</string>
	<key>DATABASE_URL</key>
	<string>https://topenland-sandboxcitus.firebaseio.com</string>
</dict>
</plist>