{
  "presets": [
    "module:metro-react-native-babel-preset",
    "module:react-native-dotenv"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@src": "./src",
          "@components": "./src/components",
          "@constants": "./src/constants",
          "@modules": "./src/modules",
          "@redux": "./src/redux",
          "@res": "./src/res",
          "@screens": "./src/screens",
          "@utils": "./src/utils",
          "@models": "./src/models",
          "@types": "./src/types",
          "@services": "./src/services",
          "@navigation": "./src/navigation",
          "@e2e": "./e2e"
        }
      }
    ]
  ]
}
