//
//  Prod.xcconfig
//  BidBid
//
//  Created by DUC SKT on 11/29/20.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include? "tmp.xcconfig"
REVERSED_CLIENT_ID=com.googleusercontent.apps.840831319470-6986fd2mg8mtrf31jevapdjc1dm93ppg
FB_URL_SCHEMA=fb799515583974916
FACEBOOK_ID=799515583974916
FACEBOOK_NAME=BidBid
APP_DISPLAY_NAME=BidBid
CODE_PUSH_IOS=5dl2TZ4lY5TOwLqZSMl1hdJYhW277vv4zRw3t
